<div *ngIf="assignmentTransmis">
  <mat-card>
    <mat-card-content>
      <mat-card-title>
        {{ assignmentTransmis.nom }}
      </mat-card-title>
      <mat-card-subtitle>
        Date de rendu: {{ assignmentTransmis.dateDeRendu | date: 'longDate' }}
      </mat-card-subtitle>
      <mat-card-actions id="bottom" style="display: flex; justify-content: space-between; align-items: center;">
        <!-- Afficher le checkbox de rendu seulement si l'assignment n'a pas été rendu -->
        <div *ngIf="!assignmentTransmis.rendu && authService.isLogged()">
          <mat-checkbox (change)="onAssignmentRendu()">Devoir rendu</mat-checkbox>
        </div>

        <!-- Afficher les boutons d'édition et de suppression uniquement pour les admins -->
        <div *ngIf="isAdmin">
          <button mat-stroked-button color="primary" (click)="onClickEdit()">
            <mat-icon>edit</mat-icon> EDIT
          </button>
          <span class="button-spacer"></span>
          <button mat-flat-button color="warn" (click)="onDelete()">
            <mat-icon>delete</mat-icon> Delete
          </button>
        </div>

        <!-- Message pour les utilisateurs non-admins -->
        <div *ngIf="!isAdmin">
          <mat-hint>
            Certaines actions ne sont disponibles que pour les administrateurs.
          </mat-hint>
        </div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
