.rendu{
    color: green;
    background-color: lightgreen;
}
.nonRendu{
    color: red;
    background-color: lightcoral;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.container{
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.routerBtn{
  align-self: flex-end;
}
