
<main class="container">

  @if (!formVisible) {
    <button mat-flat-button color="accent" (click)="onAddAssignment()" class="ajouterBtn">Ajouter assignment</button>

    <h2>Liste des devoirs</h2>

    @for (assignment of assignments; track assignment.nom) {
      <mat-list>
        <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
        <mat-list-item (click)="assignmentClique(assignment)">
          @if (assignment.rendu) {
            <p appRendu>
              Le devoir {{assignment.nom}} est à rendre avant le {{assignment.dateDeRendu | date }},
              et a été rendu.
            </p>
          }
          @else {
            <p>
              Le devoir {{assignment.nom}} est à rendre avant le {{assignment.dateDeRendu | date }},
              et n'a pas été rendu.
            </p>
          }

        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    }

    <app-assignment-detail [assignmentTransmis]="assignmentSelectionne" (deleteRequest)="handleDelete($event)">  </app-assignment-detail>
  }
  @else {
    <app-add-assignment (newAssignmentEvent)="onNouvelAssignment($event)"> </app-add-assignment>
  }

</main>
