
<p>{{titre}}</p>

<form ngForm (submit)="onSubmit(); assignmentForm.reset()" #assignmentForm class="form">
    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" placeholder="saisir le nom du devoir" required  name="nom">
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" placeholder="saisir la date de rendu" required  name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button [disabled]="!ajoutActive" mat-stroked-button color="primary">
        Ajouter un devoir
    </button>
</form>

<h2>Liste des devoirs</h2>

@for (assignment of assignments; track assignment.nom) {
    <div [ngClass]="{'rendu':assignment.rendu, 'nonRendu': !assignment.rendu}">
        @if (assignment.rendu) {
            <p appRendu>
                Le devoir {{assignment.nom}} est à rendre avant le {{assignment.dateDeRendu }},
                et a été rendu.
            </p>
        }
        @else {
            <p>
                Le devoir {{assignment.nom}} est à rendre avant le {{assignment.dateDeRendu }},
                et n'a pas été rendu.
            </p>
        }
    </div>
}
