<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="opened=!opened" aria-label="Menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Assignement Application</span>
        <span class="spacer"></span>
        <button mat-icon-button aria-label="Home">
            <mat-icon>home</mat-icon>
        </button>
      <span class="spacer"></span>
        <button mat-icon-button aria-label="Login">
            <mat-icon>login</mat-icon>
        </button>
      <span>
    <mat-slide-toggle [formControl]="switchTheme">Dark Mode</mat-slide-toggle
    >
  </span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/devoirs" routerLinkActive="active">Liste des devoirs</a>
            <a mat-list-item routerLink="/devoirs/add" routerLinkActive="active">Ajout d'un devoir</a>
            <a mat-list-item routerLink="/devoirs/edit" routerLinkActive="active">Modification d'un devoir</a>
            <a mat-list-item routerLink="/devoirs/delete" routerLinkActive="active">Suppression d'un devoir</a>
            <a mat-list-item routerLink="/devoirs/generate" routerLinkActive="active">Génération de données de test</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <app-assignments></app-assignments>
    </mat-sidenav-content>
</mat-sidenav-container>
